html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.6em;
	clear: both;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0 0 1.6em; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

.wp-block-pullquote {
	&.aligncenter,
	&.alignwide,
	&.alignfull,
	&.alignleft,
	&.alignright {
		text-align: left;
		padding: 0px;

		p {
			font-size: 24px;
		}
	}

	&.alignwide,
	&.alignfull {
		padding: 0 128px;
	}
}

.wp-block-button.is-style-outline a{
	border: 2px solid #06c;
	background: transparent;
	color: #06c;
	border-radius: 3px;
	transition: all 0.3s;
}

.wp-block-button.is-style-outline a:hover {
	opacity: .8;
	text-decoration: underline;
}

figure.wp-block-image.alignleft {
    margin-right: 1.5em;
}

figure.wp-block-image.alignright {
    margin-left: 1.5em;
}